@import url('https://fonts.googleapis.com/css?family=Lora|Raleway');


#main {
    background-color: #40ccd3;
}

html {
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: transparent;
    box-shadow: none;
    top:10px;
}

h3 {
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

#calltoaction {
    height: 700px;
    background-image: 
}

#bridge {
    height: 200px;
}


.cloud {
    margin-top: -20%;
}
.building3 {
    width: 120px;
    height: auto;
    position: absolute;  
    left: 10%; 
    bottom: 150px;
}

.building4 {
    width: 7%;
    height: auto;
    position: absolute;   
}

.building5 {
    width: 10%;
    height: auto;
    position: absolute;   
}

.bridge1{
    width: 20%;
    height: auto;
    bottom: 150px;
    position: absolute;
    left: 250px; 
    z-index: 0;
}

.water_bridge1 {
    width: 20%;
    height: auto;
    left: 250px; 
    bottom: 149px;
    position: absolute; 
    z-index: 2;
    opacity: 0.9;
}

.bridge2{
    width: 20%;
    height: auto;
    bottom: 150px;
    position: absolute;
    left: 250px; 
    z-index: 0;
}

.water_bridge2 {
    width: 20%;
    height: auto;
    left: 250px; 
    bottom: 149px;
    position: absolute; 
    z-index: 2;
    opacity: 0.9;
}


.send-to-back {
    position: relative;
    z-index: 0;
}

.send-to-front {
    position: absolute;
    z-index: 2;
}

.home-content {
    top:50%;

}
.btn-ghost {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid white;
    color: white;
    height: 100%;
    line-height: 100%;
    padding: 1rem 2rem
}

.btn-ghost:hover{
    box-shadow: none;
    background-color: white;
    color: #212121;
}


.wave-top {
  background: url("images/bg-wave-large.png") repeat;
  height: 120px;
  animation: dropWave 2.5s infinite linear;
}

.wave-bottom {
  background: url("images/bg-wave-large-flip.png") repeat;
  height: 144px;
  animation: dropWave 2.5s infinite linear;
}


#drought {
width:247px;
height:266px;
}
