<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- water storage material -->
      <script src="js/water_storage.min.js?t=1395793874049" charset="utf-8"></script>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <title>Into the Drought: California's Shrinking Reservoirs</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/water_storage.css?t=1395793874048" rel="stylesheet">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Draught in California</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/icons.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/animation.css" />
        <link rel="stylesheet" type="text/css" href="css/agr_usage/move.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>
    <body>
<!--         <div class="container-fluid light-blue darken-1">
        </div> -->
        <div class="container-fluid">

<!--             <section class="color">
                <h2>We all know about the drought in California</h2>
            </section> -->
<!--             <div class="lighten-4 wave-bottom" style="width: 100%;"></div> -->

            <section class="row white" id="drought-monitor">
              <div class="col l4">
                <h2>We all know about the drought in California </h2>
                <h3>But...How bad is it?</h3>
              </div>
              <div class="col l8">
                <div>
                  <img id="drought">
                  <h4 id="year">2011</h4>
                </div>
                <p><cite>United States Drought Monitor</cite></p>
              </div>
            </section>
            <div class="lighten-4 wave-bottom" style="width: 100%;"></div>
            <section class="color">
                <h2>California is sinking from the drought</h2>
                <p class="white-text">Two bridges in Fresno County – an area that produces about 15 percent of the world’s almonds – have sunk so much that they are nearly underwater and will cost millions to rebuild</p>
                <div id="bridge">
                    <!--TODO Insert animation file aka landing page -->
                    <img src="images/cloud2.svg" class="cloud">
                    <img src="images/building3.svg" class="building3">
                    <img src="images/bridge.svg" class="bridge1 bridge-a">
                    <img src="images/water.svg" class="water_bridge1">
                    <img src="images/building4.svg" class="building4">
                    <img src="images/bridge.svg" class="bridge2 bridge-a">
                    <img src="images/water.svg" class="water_bridge2">
                    <img src="images/building5.svg" class="building5">

                </div>
            </section>
            <section class="white ss-style-roundedsplit row" id="d3">
                <h2>California is sinking from the drought</h2>
                <p>The bluer the color, the more land has sunk since 2002</p>
                <div class="col l6">
                  <p class="black-text legend">History of land height </p>
                  <img style="width:600px; height:auto; display: inline-block; margin-left: 0px;" id="sink">
                  <p id="sink_year" style="margin-left: 0px;">2002</p>

                </div>
                  <div class="col l6" id="myDiv" style="width:400px; height:400px; display: inline-block; margin-top: 0px;"></div>
                </div>
                <p class="center"><cite>United States Drought Monitor</cite></p>
            </section>

<!--            <svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">

             <svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 0 Q 2.5 40 5 0
                         Q 7.5 40 10 0
                         Q 12.5 40 15 0
                         Q 17.5 40 20 0
                         Q 22.5 40 25 0
                         Q 27.5 40 30 0
                         Q 32.5 40 35 0
                         Q 37.5 40 40 0
                         Q 42.5 40 45 0
                         Q 47.5 40 50 0
                         Q 52.5 40 55 0
                         Q 57.5 40 60 0
                         Q 62.5 40 65 0
                         Q 67.5 40 70 0
                         Q 72.5 40 75 0
                         Q 77.5 40 80 0
                         Q 82.5 40 85 0
                         Q 87.5 40 90 0
                         Q 92.5 40 95 0
                         Q 97.5 40 100 0 Z">
                </path>
            </svg> -->


            <section class="grey lighten-4">
                <h2>Water Storage is decreasing at an alarming rate</h2>
                <!-- <section>insert map</section> -->
                <div ng-app="myApp" ng-controller="MainCtrl" ng-clock>
                  <loading-dialog ng-show="!loaded"></loading-dialog>
                  <div class="map-container" ng-style="{opacity: loaded ? 1 : 0 }">
                    <p>

                      <div class="play-btn" ng-model="playing" ng-click="playButtonClicked()">
                        {{ playing ? 'pause' : 'play' }}
                      </div>
                      {{ year }} - {{ months[month] }}
                      <small style="float:right">Data is current as of April 11th, 2015</small>
                    </p>
                    <scale-slider domain="domain" now="sliderPosition"></scale-slider>
                    <div class="detail">
                      <h1 class="title"> {{reservoir.station}}</h1>
                      <h5 class="project">{{reservoir.project}}</h5>
                      <p>
                        <P id="lake_reservoir">
                          Storage: <span class="black-text bold">{{formatCapacity(history[now].reservoirs[reservoir.id])}}</span>
                          <span class="acre-feet">acre-feet</span><br>
                        </P>
                        <p id="lake_capacity">
                          Capacity: {{formatCapacity(reservoir.capacity)}}
                          <span class="acre-feet">acre-feet</span><br>
                        </p>
                      </p>
                      <reservoir-detail reservoir="reservoir" year="year" month="month">
                      </reservoir-detail>
                    </div>
                    <water-map
                      reservoirs="reservoirs"
                      history="history"
                      now="now"
                      selected-reservoir="reservoir"
                      shapefile="shapefile">
                    </water-map>
                  </div>
                  <p><cite>California Department of Water Resources</cite></p>
                  <p><cite>Adapted from opensource creation by <a href="https://twitter.com/vicapow" class="grey-text">Victor Powell</a></cite></p>
                </div>
            </section>

            <section class="grey darken-4">
                <div class="column">
                    <div style="margin-top: -60px;">
                      <h2 class="white-text">Agriculture is accountable for <span class="blue-text">80%</span> of the total use</h2>
                      <p class="white-text">Increased groundwater usage dries up our Lakes and Rivers</p>
                    </div>
                    <div id="demo">
                      <div class="box" id="tractor4"><img src="images/agr_usage/tractor_icon.svg"></div>
                      <div class="box" id="tractor3"><img src="images/agr_usage/tractor_icon.svg"></div>
                      <div class="box" id="tractor2"><img src="images/agr_usage/tractor_icon.svg"></div>
                      <div class="box" id="tractor1"><img src="images/agr_usage/tractor_icon.svg"></div>
                      <div class="box" id="house"><img src="images/agr_usage/house_icon.svg"></div>
                    </div>
                      
                </div>
            </section>
            <section class=" red darken-1">
                <h2 class="white-text">In order to solve our drought problem, we need better agricultural policy, specifically on deep water drilling</h2>

            </section>

            <section class="white">
                <h2>However, California has poor data on deep water drilling to make informed policy decisions</h2>

                <h3 class="bold">Well Logging Avilability and Quality </h3>

                <img src="images/States_Data_quality/Capture.png" id="cali-data-qual">
                <p><cite>The Nature Conservancy, Drought in California Team</cite></p>

            </section>
            <section id="calltoaction">
<!--                 <img src="images/city.jpg">
 -->            <h2>California should have five metrics points to better manage groundwater resources</h2>
                <div class="row">
                  <div class="col l6 m6 s6">
                      <h3> Without Data </h3>
                      <p>well log information is critical for water managers to sustainably manage groundwater for their direct use and/or to support the state’s economy.</p>

                  </div>
                  <div class="col l6 m6 s6">
                      <h3 > With Data </h3>
                      <p>well log information is critical for water managers to sustainably manage groundwater for their direct use and/or to support the state’s economy.</p>
                  </div>
                </div>
                <div id="calldata">
                    <!--TODO Insert animation file aka landing page -->
<!--                     <img src="images/well1.svg" class="data-well">
 -->                 <img src="images/well1blue2.svg" class="data-well">

                    <img src="images/groundwater.svg" class="data-groundwater">
                    <img src="images/meter.svg" class="data-meter">
                    <img src="images/quality.svg" class="data-quality">
                    <img src="images/model.svg" class="data-model">

                </div>
<!--                 <p class="white-text">What we need is better agricultural policy, specifically on deep water drilling</p> -->

            </section>

            <section class>
                <h2>INSERT CHATBOT</h2>

            </section>
              <div class="white wave-top" style="width: 100%;"></div>
            <section class="color">
            </section>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
        <script type="text/javascript" src="js/agr_usage/move.js"></script>
        <script type="text/javascript" src="js/drought_animate.js"></script>
        <script type="text/javascript" src="js/sink_animate.js"></script>
        <!-- <script type="text/javascript" src="js/sink_3d.js"></script> -->

        <script>
        Plotly.d3.csv('js/usa_2016_plotly_noheader.csv', function(err, rows){
          function unpack(rows, key) {
            return rows.map(function(row) { return row[key]; });
          }

          var z_data=[ ]
          for(i=0;i<1374;i++)
          {
            z_data.push(unpack(rows,i));
            console.log(unpack(rows,i))
          }

          var data = [{
                     z: z_data,
                     type: 'surface',
                     marker: {
                        color: '#2980b9'
                      }
                  }];

          var layout = {
            title: '3D Model of US land height in 2016',
            autosize: true,
            width: 400,
            height: 400,
            margin: {
              l: 65,
              r: 50,
              b: 65,
              t: 90,
            }
          };
          console.log(data)
          Plotly.newPlot('myDiv', data, layout);
          });
        </script>


    </body>
</html>
