<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- water storage material -->
      <script src="js/water_storage.min.js?t=1395793874049" charset="utf-8"></script>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <title>Into the Drought: California's Shrinking Reservoirs</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/water_storage.css?t=1395793874048" rel="stylesheet">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Draught in California</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/icons.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/animation.css" />



            <!-- Load JS Library -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!--CDN link for  TweenMax-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <!-- <script src="js/drop.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/agr_usage/move.js"></script>
        <link rel="stylesheet" type="text/css" href="css/agr_usage/move.css">

    </head>
    <body>
<!--         <div class="container-fluid light-blue darken-1">
        </div> -->
        <div class="container-fluid">

            <section class="color">
                <h2>We all know about the drought in California</h2>
            </section>
            <div class="lighten-4 wave-bottom" style="width: 100%;"></div>


            <section class="col-3 white">
                <h2>But...How bad is it?</h2>
                <section>insert map</section>
            </section>

            <section class="color">
                <h2>Water Storage Is Also Decreasing..</h2>
            </section>

            <svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 0 Q 2.5 40 5 0
                         Q 7.5 40 10 0
                         Q 12.5 40 15 0
                         Q 17.5 40 20 0
                         Q 22.5 40 25 0
                         Q 27.5 40 30 0
                         Q 32.5 40 35 0
                         Q 37.5 40 40 0
                         Q 42.5 40 45 0
                         Q 47.5 40 50 0
                         Q 52.5 40 55 0
                         Q 57.5 40 60 0
                         Q 62.5 40 65 0
                         Q 67.5 40 70 0
                         Q 72.5 40 75 0
                         Q 77.5 40 80 0
                         Q 82.5 40 85 0
                         Q 87.5 40 90 0
                         Q 92.5 40 95 0
                         Q 97.5 40 100 0 Z">
                </path>
            </svg>

            <section class="col-3 white">
            </section>

            <section class="grey lighten-4 ss-style-roundedsplit">
                <h2>Water Storage is also decreasing at an alarming rate</h2>
                <!-- <section>insert map</section> -->
                <div ng-app="myApp" ng-controller="MainCtrl" ng-clock>
                  <loading-dialog ng-show="!loaded"></loading-dialog>
                  <div class="map-container" ng-style="{opacity: loaded ? 1 : 0 }">
                    <p>

                      <div class="play-btn" ng-model="playing" ng-click="playButtonClicked()">
                        {{ playing ? 'pause' : 'play' }}
                      </div>
                      {{ year }} - {{ months[month] }}
                      <small style="float:right">Data is current as of April 11th, 2015</small>
                    </p>
                    <scale-slider domain="domain" now="sliderPosition"></scale-slider>
                    <div class="detail">
                      <h1 class="title"> {{reservoir.station}}</h1>
                      <h5 class="project">{{reservoir.project}}</h5>
                      <p>
                        <P id="lake_reservoir">
                          Storage: <span class="black-text bold">{{formatCapacity(history[now].reservoirs[reservoir.id])}}</span>
                          <span class="acre-feet">acre-feet</span><br>
                        </P>
                        <p id="lake_capacity">
                          Capacity: {{formatCapacity(reservoir.capacity)}}
                          <span class="acre-feet">acre-feet</span><br>
                        </p>
                      </p>
                      <reservoir-detail reservoir="reservoir" year="year" month="month">
                      </reservoir-detail>
                    </div>
                    <water-map
                      reservoirs="reservoirs"
                      history="history"
                      now="now"
                      selected-reservoir="reservoir"
                      shapefile="shapefile">
                    </water-map>
                  </div>
                  <p><cite>California Department of Water Resources</cite></p>
                  <p><cite>Adapted from opensource creation by <a href="https://twitter.com/vicapow" class="grey-text">Victor Powell</a></cite></p>
                </div>
            </section>
            <section class="light-green ss-style-zigzag">
                <div class="column">
                    <div style="margin-top: -60px;">
                      <h2 class="white-text">Increased groundwater usage dries up our Lakes and Rivers</h2>
                      <h2 class="white-text">and Agriculture is accountable for 80%</h2>
                      <p><cite>Public Policy Institute of California "Water Use In California" July 2014</cite></p>
                    </div>
                    <div id="demo">
                      <div class="box" id="house"><img src="images/agr_usage/house_icon.svg"></div>
                      <div class="box" id="tractor1"><img src="images/agr_usage/tractor_icon.svg"></div>
                      <div class="box" id="tractor2"><img src="images/agr_usage/tractor_icon.svg"></div>
                      <div class="box" id="tractor3"><img src="images/agr_usage/tractor_icon.svg"></div>
                      <div class="box" id="tractor4"><img src="images/agr_usage/tractor_icon.svg"></div>
                    </div>
                    <p></p>
                </div>
            </section>
            <section class="grey darken-4 ss-style-foldedcorner">
                <h2 class="white-text">What we need is better agricultural policy, specifically on deep water drilling</h2>
            </section>
            <section class="color">
                <h2>For informed policy making, we need better data collection and data quality</h2>
            </section>
            <section class="grey lighten-4">
            </section>
              <div class="grey lighten-4 wave-top" style="width: 100%;"></div>
            <section class="color">
            </section>
        </div>

    </body>
</html>
